<!doctype html>
<!--[if lt IE 7 ]> <html lang='en' class='no-js ie6'> <![endif]-->
<!--[if IE 7 ]>    <html lang='en' class='no-js ie7'> <![endif]-->
<!--[if IE 8 ]>    <html lang='en' class='no-js ie8'> <![endif]-->
<!--[if IE 9 ]>    <html lang='en' class='no-js ie9'> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang='en' class='no-js'> <!--<![endif]-->
  <head>
    <meta charset='UTF-8'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='shortcut icon' href='favicon.ico'>
    <link rel='apple-touch-icon' href='apple-touch-icon.png'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src='js/libs/modernizr-1.7.min.js'></script>
  </head>
  <body class='<%= params[:controller] %>'>
    <div id='wrapper'>
      <%= render 'layouts/header' %>

      <section id='content' class='round'>
        <%= yield %>
      </section>

      <%= render 'layouts/footer' %>

      <%= debug params if Rails.env.development? %>
    </div>
    <!-- END div#wrapper -->
  </body>
</html>

<!-- -*- indent-tabs-mode:nil; tab-width:2; -*- ..for spaces(2) -->

